
body{
    background-color: white; font-size: 12pt; color:black;
    padding: 70px;
    margin: 70px;
    border-radius: 20px;
}

h1{  
    font-family:'Times New Roman', Times, serif;
    font-size:35pt;
    text-align:center;
    text-shadow: 2px 3px 5px blue;
    box-shadow: 2px 3px 5px blue;
}


#h1{
	font-size: 28px;
	margin: 20px 0px 0px 0px;
}

#h1:hover{
	font-size: 30px;
	margin: 20px 0px 0px 0px;
    background-color: chartreuse;
}


h2[id^="titre"]{
    background-color:rgb(252, 138, 8);
    margin-top:0px;
    padding-left:15px;
    padding-bottom:5px;
    padding-top:5px;
    border-top-left-radius:20pt;
    border-top-right-radius:20pt;
}

h3{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

#h3-1{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

#h3-2{
    color: blue;
}

/*****************************************************************************************************************/

div.identite{
    border-radius:20pt 20pt;
    border:2px solid blue;
    margin-bottom:30px;
    margin-top: 30px;
    font-size: 20px;
}
div.formation, div.diplome, div.experience, div.divers{
    border-radius:20pt 20pt;
    border:2px solid blue;
    margin-bottom:30px;
    margin-top: 30px;
    font-size: 20px;
}

div.identite:hover, div.formation:hover, div.diplome:hover, div.experience:hover, div.divers:hover{
    color: rgb(240, 6, 6);
    border-radius:20pt 20pt;
    border:2px solid rgb(228, 81, 13);
    margin-bottom:30px;
    margin-top: 30px;
    font-size: 20px;
}


ul>li{
    color:blue;
    font-weight:bold;  
    font-size:20px;
}
li>span{
    font-weight:normal;
    color:black;
}


/*****************************************************************************************************************/

#photo{
    position:absolute;
    right:140px;
    border-width:1px;
    border-style:dashed;
    border-top-right-radius:20pt 20pt;
    width:208px;
}

#photo1{
    position:absolute;
    right:150px;
    border-width:1px;
    border-top-right-radius:20pt 20pt;
    width:305px;
    margin-top: 45px;
}

#photo2{
    position:absolute;
    right:155px;
    border-width:1px;
    border-top-right-radius:20pt 20pt;
    width:305px;
}

#photo3{

    position:absolute;
    right:150px;
    border-width:1px;
    width:305px;
    margin-top: 60px;
}
   
#photo4{
    position:absolute;
    right:140px;
    border-width:1px;
    border-top-right-radius:20pt 20pt;
    width:300px;
}

#im{ 
    border-width:1px;
    border-radius: 20pt 20pt ;
    width:508px;
}

#IM{ 
    right:165px;
    border-width:1px;
    width:165px;
}


#img1{
	position:absolute;
    right:150px;
    border-radius:20pt 20pt;
    width:160px;
}


#img2{
	position:absolute;
    right:140px;
    border-width:1px;
    border-radius:20pt 20pt;
    width:225px;
}

/*****************************************************************************************************************/


.orange{
    border-radius:20pt 20pt;
	border-top: 10px solid orange;
	background-color: rgba(250, 160, 57, 0.15);
    margin-top: 30px;
}

.vert{
    border-radius:20pt 20pt;
	border-top: 10px solid #5f6;
	background-color: rgba(15, 240, 30, 0.15);
    margin-top: 30px;
}
.bleu{
    border-radius:20pt 20pt;
	border-top: 10px solid #29c;
	background-color: rgba(11, 160, 160, 0.15);
    margin-top: 30px;
}
.jaune{
    border-radius:20pt 20pt;
	border-top: 10px solid #f3e241;
	background-color: rgba(212, 224, 79, 0.15);
    margin-top: 30px;
}

/*****************************************************************************************************************/


nav{
	width: 100%;
	background-color: #424558;
}
nav ul{
	margin: 0px;
	padding: 0px;
}
nav li{
	list-style-type: none;
	float: left;
}
nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}


/*****************************************************************************************************************/

.table{
	display: table;
	margin: 0 auto;
}


.menu-ind:hover, .Presentation{
	border-top: 5px solid blue;
	background-color:rgb(236, 135, 18);
}
.menu-exp:hover, .Parcours{
	border-top: 5px solid blue;
	background-color:rgb(236, 135, 18);
}
.menu-hob:hover, .Langue{
	border-top: 5px solid blue;
	background-color:rgb(236, 135, 18);
}
.menu-con:hover, .Divers{
	border-top: 5px solid blue;
	background-color:rgb(236, 135, 18);
}


a:hover{
	font-size: 1.2em;
}


/*****************************************************************************************************************/

section{
	width: 100%;
	min-height: 300px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


.bor{
	border: 8px solid #3a3822;
    border-radius: 20px;
	padding: 80px;
	margin: auto;
	color: #251625
}

.bor1{
	border: 2px solid #3a3822;
    border-radius: 20px;
	padding: 60px;
	margin: 5px 300px 25px 0px;
	color: #251625
}

.bor2{
	border: 4px solid #3a3822;
    border-radius: 20px;
	padding: 20px;
	margin: auto;
	color: #251625;
    text-align: center;
}

.bor2:hover{
	border: 4px solid #3a3822;
    border-radius: 20px;
	padding: 20px;
	margin: auto;
	color: #251625;
    text-align: center;
    background-color: rgb(162, 251, 72);
}


footer{
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #584141;
	border-top: 20px solid #aaa;
	font-size: 20px;
	color: rgb(231, 216, 216);
}

footer:hover{
    height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #460505;
	border-top: 20px solid rgb(228, 140, 140);
	font-size: 20px;
	color: rgb(246, 249, 250);
}

/*****************************************************************************************************************/

.left{

    position:left;
    right:165px;
    border-width:1px;
    border-style:dashed;
    border-radius:20pt 20pt;
    width:65px;
}

.right{
	position:absolute;
    right:65px;
    border-width:1px;
    border-style:dashed;
    border-radius:20pt 20pt;
    width:205px;
}

.center{
	position:absolute;
    right:5px;
    border-width:1px;
    border-style:dashed;
    border-radius:20pt 20pt;
    width:205px;
}

/*****************************************************************************************************************/
/*****************************************************************************************************************/
/*****************************************************************************************************************/



@media screen and (max-width: 780px){


	h1{
		font-size: 15px;
	}

    #h1, #h1:hover, h3, #h3-1{
        font-size: 10px;
    }

    h2[id^="titre"]{
        background-color:rgb(252, 138, 8);
        margin-top:0px;
        padding-left:8px;
        padding-bottom:3px;
        padding-top:3px;
        border-top-left-radius:10pt;
        border-top-right-radius:10pt;
    }

    div.identite{
        border-radius:10pt 10pt;
        border:2px solid blue;
        margin-bottom:15px;
        margin-top: 15px;
        font-size: 10px;
    }
    div.formation, div.diplome, div.experience, div.divers{
        border-radius:10pt 10pt;
        border:2px solid blue;
        margin-bottom:15px;
        margin-top: 15px;
        font-size: 10px;
    }

    div.identite:hover, div.formation:hover, div.diplome:hover, div.experience:hover, div.divers:hover{
        color: rgb(240, 6, 6);
        border-radius:10pt 10pt;
        border:2px solid rgb(228, 81, 13);
        margin-bottom:15px;
        margin-top: 15px;
        font-size: 10px;
    }
    
    
    ul>li{
        color:blue;
        font-weight:bold;  
        font-size:10px;
    }

    /*****************************************************************************************************************/

    #photo{
        position:absolute;
        right:140px;
        border-width:1px;
        border-style:dashed;
        border-top-right-radius:10pt 10pt;
        width:104px;
    }

    #photo1{
        position:absolute;
        right:145px;
        border-width:1px;
        border-top-right-radius:10pt 10pt;
        width:153px;
        margin-top: 25px;
    }

    #photo2{
        position:absolute;
        right:150px;
        border-width:1px;
        border-top-right-radius:10pt 10pt;
        width:153px;
    }

    #photo3{

        position:absolute;
        right:142px;
        border-width:1px;
        width:140px;
        margin-top: 45px;
    }
    
    #photo4{
        position:absolute;
        right:140px;
        border-width:1px;
        border-top-right-radius:10pt 10pt;
        width:150px;
        border-style:dashed;
    }

    #im{ 
        border-width:1px;
        border-radius: 10pt 10pt ;
        width:110px;
    }


    #img1{
        position:absolute;
        right:148px;
        border-radius:5pt 5pt;
        width:60px;
    }


    #img2{
        position:absolute;
        right:140px;
        border-width:1px;
        border-radius:5pt 5pt;
        width:90px;
    }

    /*****************************************************************************************************************/

    nav a{
        padding: 10px 15px;
        font-size: 5px;
    }


    a:hover{
        font-size: 0.6em;
    }


    /*****************************************************************************************************************/

    section{
        width: 100%;
        min-height: 100px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }


    .bor{
        border: 4px solid #3a3822;
        border-radius: 10px;
        padding: 20px;
    }

    .bor1{
        border: 1px solid #3a3822;
        border-radius: 10px;
        padding: 30px;
        margin: 2px 100px 12px 0px;
    }

    .bor2{
        border: 2px solid #3a3822;
        border-radius: 10px;
        padding: 10px;
    }

    .bor2:hover{
        border: 4px solid #3a3822;
        border-radius: 10px;
        padding: 10px;
    }


    footer{
        height: 40px;
        padding-top: 15px;
        border-top: 10px solid #aaa;
        font-size: 10px;
    }

    footer:hover{
        height: 40px;
        padding-top: 15px;
        border-top: 10px solid #aaa;
        font-size: 10px;
    }

}

/*****************************************************************************************************************/
/*****************************************************************************************************************/
/*****************************************************************************************************************/







